$maxWidth: 1920;

@mixin adaptive-font($pcSize, $mobSize) {
    $addSize: $pcSize - $mobSize;
    $maxWidth: $maxWidth - 320;
    font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
}

@mixin oval-dust($width, $height, $opacity, $top, $left) {
    width: $width;
    height: $height;
    opacity: $opacity;
    position: absolute;
    transform: translateY($top) translateX($left);
    border-radius: 50%;
    z-index: 1000;
    pointer-events: none;
    background: radial-gradient(50% 50% at 50% 50%, #EBBE9C 0%, rgba(233, 188, 155, 0.00) 100%);
    filter: blur(67px);
}

@mixin play-btn($width, $height, ) {
    width: $width;
    height: $height;
    background: linear-gradient(137.49deg, rgb(248, 230, 226) 19.2%, rgb(228, 190, 181) 76.33%);
    border-radius: 50%;
    transition: var(--transition);
    @extend %flex-all-center;

    &:hover {
        box-shadow: 0px 0px 25px 15px rgba(234, 177, 180, 0.2);
        opacity: 0.9;
    }

    svg {
        margin-left: 5px;
    }
}

@mixin submit-btn ($width, $height, ) {
    width: $width;
    height: $height;
    transition: var(--transition);
    background: linear-gradient(314deg, #C88C61 25.11%, #EBBE9C 88.64%);
    border-radius: 3% / 50%;
    box-shadow: 0px 8px 0px -3px #ac7e61;
    color: var(--general-text2);

    @extend %flex-all-center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 1px;

    &:hover {
        box-shadow: none;
        box-shadow: 0px 0px 20px 10px rgba(200, 140, 97, 0.2);
        transform: translate(0, 8px);
    }

    img {
        margin-left: 20px;
    }
}

@mixin transform($x, $y, $r : 0) {
    transform: translateX($x) translateY($y) rotate($r);
}


@mixin bg-adaptive {
    @media (max-width: (1750px)) {
        @content;
    }
}
@mixin big-desktop {
    @media (max-width: (1630px)) {
        @content;
    }
}

@mixin desktop {
    @media (max-width: (1250px)) {
        @content;
    }
}

@mixin tablet {
    @media (max-width: (1024px)) {
        @content;
    }
}

@mixin medium-tablet {
    @media (max-width: (850px)) {
        @content;
    }
}
@mixin small-tablet {
    @media (max-width: (768px)) {
        @content;
    }
}

@mixin big-mobile {
    @media (max-width: (660px)) {
        @content;
    }
}
@mixin mobile {
    @media (max-width: (590px)) {
        @content;
    }
}
@mixin medium-mobile {
    @media (max-width: (475px)) {
        @content;
    }
}

@mixin small-mobile {
    @media (max-width: (350px)) {
        @content;
    }
}




