:root {
    --general-text: #34343F;
    --general-text2: #FFF;
    --accent-text: #E5B093;
    --accent-text2: #C5988F;
    --accent-text3: #cf8e5f;
    --accent-span: #EAB1B4;
    --border-color: #A5A5B3;
    --general-bg: #363348;
    --accent-bg: #fff;
    --accent-bg2: #fffff9;
    --transition: all 0.4s;
    --border-opacity: 0.4;
}