.section-form-1 {
    margin-top: 130px;
position: relative;
@include big-mobile{
    margin-top: 300px;
}
@include small-mobile{
    margin-top: 100px;
}
    &__title {
        @extend %title-style;
        text-align: center;
        max-width: 920px;
        margin: 0 auto;
    }

    &__text {
        margin-top: 15px;
        @include adaptive-font(20, 16);
        line-height: 1.6;
        text-align: center;
        color: var(--general-text2)
    }

    &__content {
        margin-top: 20px;
        @include big-mobile {
            margin-top: 40px;
        }
    }

    &__top-img {
        left: 0;
        top: -1050px;
        position: absolute;
        @include big-desktop{
            display: none;
        }
    }

    &__content-inner {
        position: relative;
        display: flex;
        gap: 90px;
        border-radius: 20px;
        background: var(--accent-bg2);
        @include medium-tablet{
            max-width: 500px;
            margin: 0 auto;
        }
    }

    &__content-title {
        @include adaptive-font(30, 22);
        text-align: center;
        color: var(--general-text);
    }

    &__content-text {
        max-width: 322px;
        font-weight: 500;
        margin-top: 20px;
        font-size: 16px;
        @include adaptive-font(16, 12);
        line-height: 1.2;
        text-align: center;
        color: var(--general-text);
        @include medium-mobile{
            max-width: 250px;
            margin: 15px auto 0 auto;
        }
    }

    &__content-img {
        max-width: 684px;
        max-height: 666px;
        width: 100%;
        margin-left: 10px;
        img{
            width: 100%;
        }
        @include medium-tablet{
            display: none;
        }
    }

    &__form {
        margin-right: 15px;
        margin-top: 130px;
        display: flex;
        flex-direction: column;
        @include tablet{
            margin: auto 10px auto 0;
        }
        @include medium-tablet{
            margin: 0 auto;
            padding: 40px;
        }
        @include medium-mobile{
            padding: 30px 5px;
        }
    }

    &__input-tel {
        border: 1px solid #a5a5b341;
        margin-top: 15px;
        @extend %input-style;
        @include medium-mobile{
            width: 265px;
            input{
                padding: 22px 0px 22px 15px;
            }
        }
    }

    &__button {
        margin-top: 17px;
        @include submit-btn(334px, 99px);
        @include big-mobile{
            height: 70px;
        }
        @include medium-mobile{
            width: 265px;
            margin: 17px auto 0 auto;
        }
    }

    &__check-label {
        margin-top: 20px;
        display: flex;
        align-items: start;
        gap: 5px;
        max-width: 250px;
        @include adaptive-font(14, 12);
        line-height: 1.4;
        color: var(--general-text);
        @include medium-mobile{
            margin-left: 5px;
        }
        a {
            transition: var(--transition);
            color: var(--accent-text3);

            &:hover {
                color: var(--accent-text)
            }
        }
    }

    &__checkbox {
        @extend %checkbox;
        
    }

    &__form-img {
        position: absolute;
        top: 350px;
        left: 800px;
        pointer-events: none;
        @include desktop{
            display: none;
        }

        &:last-child {
            z-index: -1;
            top: 300px;
            left: 350px;
        }
    }
}