.header {
    color: var(--general-text2);

    &__oval-top {
        @include oval-dust(995px, 995px, 0.6, -65%, 75%);
        @include medium-mobile{
            display: none;
        }
    }


    &__oval-left {
        @include oval-dust(995px, 995px, 0.4, -20%, -65%);
        @include medium-mobile{
            display: none;
        }
    }

    &__left-petal {
        position: absolute;
        z-index: -1;

        @include big-desktop {
            display: none;
        }

        &:first-child {
            @include transform(30%, 100%)
        }

        &:last-child {
            @include transform(150%, 200%);
        }

    }

    &__advantages {

        box-shadow: 0px -100px 100px 100px rgba(54, 51, 72, 1);
        background: var(--general-bg);
        position: relative;
        z-index: 1;

        @include medium-tablet {
            margin: 0 auto;
        }

        @include mobile {
            box-shadow: none;
            margin-top: 50px;
        }
    }

    &__about {
        background: url('../img/content/rooms/room2.png') no-repeat;
        margin-top: 340px;
        background-position-x: -130px;
        background-position-y: 120px;

        @include bg-adaptive {
            background-position-x: -300px;
        }

        @include big-desktop {
            margin-top: 240px;
        }

        @include desktop {
            margin-top: 200px;
            background-position-x: -450px;
        }

        @include tablet {
            background-size: 1200px auto;
            background-position-x: -300px;
            background-position-y: 100%;
        }

        @include medium-tablet {
            background: none;
            margin-top: 100px;
        }

        @include small-tablet {
            margin-top: 40px;
        }
    }
}

.hero {


    background: url('../img/content/rooms/room1.png') no-repeat 122% 1%;

    @include desktop {
        background-position-x: 60%;
    }

    @include mobile {
        background: none;
    }


    &__container {
        display: flex;

        @include desktop {
            flex-direction: column;
        }

        @include mobile {
            align-items: center;
        }
    }

    &__content {
        margin-top: 250px;
        min-width: 640px;
        @include desktop {
            margin-top: 130px;
            text-align: center;
        }

        @include small-tablet {
            margin: 100px auto 0 auto;
            min-width: 200px;
        }
    }

    &__title {
        @extend %title-style;

        @include desktop {
            max-width: 800px;
            margin: 0 auto;
        }
    }

    &__text {
        @include adaptive-font(18, 15);
        line-height: 1.4;
        margin-top: 27px;
        max-width: 580px;

        @include desktop {
            margin: 20px auto 0 auto;

        }
    }

    &__text-span {
        &:first-child {
            color: var(--accent-span);
        }

        &:last-child {
            font-style: italic;
            text-transform: uppercase;
        }
    }


    &__form {
        margin-top: 43px;

        @include desktop {
            margin: 40px auto 0 auto;
        }

        @include medium-mobile {
            margin-top: 20px;
        }
    }

    &__input-tel {
        @extend %input-style;

        @include desktop {
            margin: 0 auto 0 auto;
        }

        @include medium-mobile {
            width: 265px;

            input {
                padding: 22px 0px 22px 15px;
            }
        }
    }


    &__button {
        margin-top: 15px;
        @include submit-btn(335px, 98px);

        @include desktop {
            margin: 15px auto 0 auto;
        }

        @include big-mobile {
            height: 70px;
        }

        @include medium-mobile {
            width: 265px;
            margin: 17px auto 0 auto;
        }
    }

    &__img {
        margin: 0 auto;
        @include desktop{
            padding-right: 95px;
        }

        @include medium-tablet {
            transform: scale(0.8);
        }

        @include mobile {
            display: none;
        }
    }

    &__girl {
        img {
            filter: drop-shadow(0px -14px 33px #e8ba9755);
        }

        margin: 180px 0 0 95px;

        @include desktop {
            margin-top: 30px;
        }

        @include medium-tablet {
            margin-top: 0;
        }
    }

    &__animation {
        color: var(--general-text);
        position: absolute;
        font-size: 14px;
        font-weight: 500;
        line-height: 14px;

        li {

            &:nth-child(1) {
                div {
                    animation: hero-text1-animation 3s 1 forwards;

                }

                img {
                    animation: hero-line-animation 5s 1;
                    transform: translateX(314%) translateY(-550%) rotate(9deg);
                }
            }

            &:nth-child(2) {
                div {
                    animation: hero-text2-animation 3s 1 forwards;

                }

                img {
                    animation: hero-line-animation 5s 1;
                    transform: translateX(95%) translateY(-632%) rotate(272deg);
                    ;
                }
            }

            &:nth-child(3) {
                div {
                    animation: hero-text3-animation 3s 1 forwards;

                }

                img {
                    animation: hero-line-animation 5s 1;
                    transform: translateX(315%) translateY(-650%) rotate(106deg);
                }
            }

            &:nth-child(4) {
                div {
                    animation: hero-text4-animation 3s 1 forwards;

                }

                img {
                    animation: hero-line-animation 5s 1;
                    transform: translateX(170%) translateY(-650%) rotate(206deg);
                }
            }

            @keyframes hero-text1-animation {
                0% {
                    transform: translateX(0%) translateY(-1200%);
                    opacity: 0;
                }

                100% {
                    transform: translateX(330%) translateY(-2150%);
                    opacity: 1;
                }
            }

            @keyframes hero-text2-animation {
                0% {
                    transform: translateX(0%) translateY(-1200%);
                    opacity: 0;
                }

                100% {
                    transform: translateX(57%) translateY(-2571%);
                    opacity: 1;
                }
            }

            @keyframes hero-text3-animation {
                0% {
                    transform: translateX(0%) translateY(-1200%);
                    opacity: 0;
                }

                100% {
                    transform: translateX(297%) translateY(-2234%);
                    opacity: 1;
                }
            }

            @keyframes hero-text4-animation {
                0% {
                    transform: translateX(0%) translateY(-1200%);
                    opacity: 0;
                }

                100% {
                    transform: translateX(90%) translateY(-2378%);
                    ;
                    opacity: 1;
                }
            }

            @keyframes hero-line-animation {
                0% {
                    opacity: 0;
                }

                50% {
                    opacity: 0;
                }

                100% {
                    opacity: 1;
                }
            }

        }
    }


    &__animation-text {
        @extend %flex-all-center;
        width: 100%;
        width: 121px;
        height: 37px;
        border-radius: 22px;
        background: #f4ddd9;
        border: 2px solid rgb(182, 140, 110);
    }


}



.advantages {



    &__container {
        @extend %flex-all-sb;

        @include medium-tablet {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
        }

        @include medium-mobile {
            grid-template-columns: 1fr;
            grid-template-rows: repeat(4, 1fr);

        }

        li {
            @include medium-mobile {
                margin-left: 20px;
            }

            &:nth-child(1) {
                p {
                    width: 196px;
                }

                img {
                    transform: translateX(135px) translateY(15px);
                }
            }

            &:nth-child(2) {
                transform: translateY(100px);

                @include medium-tablet {
                    transform: none;
                }

                @include medium-mobile {
                    justify-content: end;
                    margin-right: 20px;
                }


                p {
                    width: 162px;
                }

                img {
                    transform: translateX(125px) translateY(25px) rotate(140deg);
                }
            }

            &:nth-child(3) {
                p {
                    width: 176px;
                }

                img {
                    transform: translateX(135px) translateY(15px);
                }
            }

            &:nth-child(4) {
                transform: translateY(100px);

                @include medium-tablet {
                    transform: none;
                }

                @include medium-mobile {
                    justify-content: end;
                    margin-right: 20px;
                }

                p {
                    width: 258px;

                    @include medium-mobile {
                        width: 160px;
                    }
                }
            }
        }
    }

    &__example {
        display: flex;


    }

    &__img {
        position: relative;
        z-index: 1;
    }

    &__num {
        color: rgb(105, 105, 117);
        font-family: 'Tenor Sans';
        font-size: 80px;
        display: inline-block;
        position: absolute;
        transform: translateX(-30px) translateY(20px);

    }

    &__text {
        font-family: 'Tenor Sans';
        font-size: 18px;
        line-height: 1.2;
        text-align: center;
    }

    &__line {
        position: absolute;

        @include medium-tablet {
            display: none;
        }
    }

}


.about {

    &__oval-right {
        @include oval-dust(827px, 854px, 0.3, 0%, 195%);
        @include medium-mobile{
            display: none;
        }
    }

    &__right-petal {
        float: right;
        @include transform(-70%, -60%);

        @include desktop {
            @include transform(-10%, -60%);
        }

        @include small-tablet {
            display: none;
        }
    }

    &__left-decor {
        float: left;

        li {
            &:nth-child(1) {
                img {
                    display: none;
                }
            }

            &:nth-child(2) {
                img {
                    @include transform(40%, -10%);

                    @include medium-tablet {
                        display: none;
                    }
                }
            }

        }
    }

    &__left-oval {
        @include oval-dust(1050px, 1050px, 0.3, 5%, 5%);
        z-index: -1;
        @include medium-mobile{
            display: none;
        }
    }

    &__inner {
        min-height: 700px;
        display: flex;
        justify-content: space-between;

        @include small-tablet {
            flex-direction: column;
            justify-content: normal;
        }

        @include medium-tablet {
            min-height: 500px;
        }

        @include mobile {}

    }

    &__title {
        @extend %title-style;
        max-width: 838px;
        text-align: center;
        margin: 0 auto 80px;

        @include tablet {
            margin-bottom: 25px;
            margin: 0 auto;
        }

    }


    &__video-inner {
        @include mobile {
            order: 2;
            margin-top: 35px;
        }
    }

    &__video {
        @include transform(250%, 70%);

        @include desktop {
            @include transform(230px, 100px);
        }

        @include tablet {
            @include transform(-60px, 100px);
        }

        @include medium-tablet {
            @include transform(-20px, 100px);
        }

        @include small-tablet {
            @include transform(-20px, 50px);
            order: 2;
        }

        @include mobile {
            @include transform(-20px, 25px);
        }
    }

    &__video-btn {
        @include play-btn(125px, 125px);

        @include tablet {
            width: 70px;
            height: 70px;
            transform: translateX(50px);
        }

    }

    &__video-line {
        @include transform(200%, -210%);

    }

    &__video-text {
        display: inline-block;
        max-width: 120px;
        @include transform(80%, -515%);
        font-style: italic;
        font-size: 13px;
        line-height: 1;
    }

    &__text-inner {
        max-width: 380px;

        @include small-tablet {
            margin: -80px 20px 0 auto;
        }

        @include mobile {
            order: 1;
            margin: 10px auto 0 auto;
        }
    }

    &__text-first {
        @include adaptive-font(20, 14);
        line-height: .1.4;
        text-align: left;

        @include mobile {
            text-align: center;
        }
    }

    &__text-secound {
        @include adaptive-font(16, 13);
        margin-top: 25px;

        @include mobile {
            margin-top: 10px;
            text-align: center;
        }

        span {
            color: var(--accent-span);
        }


        line-height: 1.7;

        text-align: left;
    }

    &__button {
        margin-top: 45px;
        @include submit-btn(303px, 98px);

        @include mobile {
            margin: 15px auto 0 auto;
            height: 80px;
        }

        @include medium-mobile {
            height: 75px;
            width: 300px;
        }
    }
}