.nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    background: var(--general-bg);
    height: auto;

    @include desktop{
        position: static;
    }

    &__inner {
        margin: 10px auto;
        max-width: 1470px;
        color: var(--general-text2);
        @extend %flex-all-sb;
        padding: 0 15px;

        @include desktop {
            justify-content: start;
            gap: 30px;
        }
    }
        &__info {
            @extend %flex-all-sb;
        }

        &__border {
            margin: 0 25px 0;
            height: 40px;
            width: 1px;
            background: var(--border-color);
            border-radius: 20px;
            opacity: var(--border-opacity);
            @include medium-mobile{
                display: none;
            }
        }

        &__text {
            max-width: 160px;
            @include adaptive-font(12, 10);
            @include medium-mobile{
                display: none;
            }
        }

        &__list {
            margin-left: 70px;
            font-weight: 500;
            font-size: 16px;
            @extend %flex-aline-center;
            transition: var(--transition);

            @include desktop {
                right: -300px;
                opacity: 0;
                position: fixed;
                gap: 20px;
                width: 280px;
                height: 250px;
                margin-left: 0;
                top: 10px;
            }
            @include medium-tablet{
                height: 300px;
            }

            &.burger--opened {
                opacity: 1;
                right: 0;
                flex-direction: column;
                background: var(--accent-bg2);
                color: var(--general-text);
                border-top-left-radius: 20px;
                border-bottom-left-radius: 20px;

                li {
                    &:first-child {
                        margin-top: 30px;
                    }
                }
            }
        }

        &__item {
            margin-right: 30px;

            @include desktop {
                margin: 0;
            }

            &:last-child {
                margin-right: 0;
            }
        }

        &__link {
            position: relative;
            @extend %hover-text;
            @extend %focus-line;

        }

        &__contact {
            @extend %flex-aline-center;
        }

        &__tel {
            font-size: 22px;
            font-weight: 500;
            font-style: normal;
            @extend %hover-text;
            margin-right: 45px;
            transition: var(--transition);

            @include desktop {
                opacity: 0;
                right: -300px;
                position: fixed;
                top: 200px;
            }

            &.burger--opened {
                opacity: 1;
                right: 0;
                flex-direction: column;
                color: var(--general-text);

            }
        }

        &__animation {
            @extend %flex-aline-center;

            
            @include medium-tablet{
                opacity: 0;
                margin-right: 65px;
                position: fixed;
                right: -300px;
                top: 240px;
                transition: var(--transition);
            }
            
            &.burger--opened  {
                opacity: 1;
                right: 0;
            }

        }

        #animation-phone {
            animation: phone-movement 2.5s linear infinite;
        }

        @keyframes phone-movement {
            0% {
                transform: rotateZ(0deg);
                -ms-transform: rotateZ(0deg);
            }

            10% {
                transform: rotateZ(-30deg);
                -ms-transform: rotateZ(-30deg);
            }

            20% {
                transform: rotateZ(15deg);
                -ms-transform: rotateZ(15deg);
            }

            30% {
                transform: rotateZ(-10deg);
                -ms-transform: rotateZ(-10deg);
            }

            40% {
                transform: rotateZ(7.5deg);
                -ms-transform: rotateZ(7.5deg);
            }

            50% {
                transform: rotateZ(-6deg);
                -ms-transform: rotateZ(-6deg);
            }

            60% {
                transform: rotateZ(5deg);
                -ms-transform: rotateZ(5deg);
            }

            70% {
                transform: rotateZ(-4.28571deg);
                -ms-transform: rotateZ(-4.28571deg);
            }

            80% {
                transform: rotateZ(3.75deg);
                -ms-transform: rotateZ(3.75deg);
            }

            90% {
                transform: rotateZ(-3.33333deg);
                -ms-transform: rotateZ(-3.33333deg);
            }

            100% {
                transform: rotateZ(0deg);
                -ms-transform: rotateZ(0deg);
            }
        }

        &__animation-text {
            display: flex;
            flex-direction: column;
        }

        &__animation-button {
            background: var(--general-bg);
            padding: 5px 0;
            font-size: 14px;
            color: var(--accent-text3);
            @extend %hover-text-light;
            @include medium-tablet{
                background: var(--accent-bg2);
            }
        }
    }


    #animation-underline {
        stroke: var(--accent-text3);
        animation: underline-movement 4s linear infinite;
    }

    @keyframes underline-movement {
        0% {
            stroke-dashoffset: 100px;
        }

        50% {
            stroke-dashoffset: 50px;
        }

        100% {
            stroke-dashoffset: 0px;
        }
    }