.video {
    margin-top: -30px;
    background: url('../img/decor/white-bg/bg1.png') 50% 0% no-repeat;
    min-height: 1850px;

    @include medium-tablet{
        // margin-top: -200px;
    }
    &__decor {
        position: absolute;

        li {
            &:nth-child(1) {
                img {
                    @include transform(255%, -25%);
                    @include big-desktop{
                        @include transform(180%, -25%);
                    }
                    @include desktop{
                        display: none;
                    }
                    
                }
            }

            &:nth-child(2) {
                img {
                    @include transform(-5%, 1%);
                    @include big-desktop{
                        display: none;
                    }
                }
            }

            &:nth-child(3) {
                img {
                    @include transform(81vw, 1%);
                    @include big-desktop{
                        display: none;
                    }
                }
            }
        }
    }


    &__container {
        margin-top: 120px;
        @include big-desktop{
            margin-top: 50px;
        }
        @include desktop{
            margin-top: 30px;
        }
    }

    &__titles-slider {
        max-height: 350px;

        &.swiper {
            overflow: visible;

        }
    }

    &__text {
        @include adaptive-font(20, 16);
        line-height: 1.6;
        text-align: center;
        margin: 40px auto 0 auto;

        span {
            font-weight: 700;
        }
    }

    &__content {
        margin-top: 55px;
        text-align: center;

        video {
            position: relative;
            z-index: 1;
            box-shadow: 0px 5px 20px 2px rgba(34, 60, 80, 0.5);
            
            @include tablet{
                width: 500px;
            }
            @include big-mobile{
                width: 300px;
            }
        }
    }

    &__img {
        height: 10px;

        @include small-tablet{
            display: none;
        }
        img {
            &:first-child {
                @include transform(165%, -140%);
                @include tablet{
                    @include transform(130%, -100%);
                
            }
            }

            &:last-child {
                @include transform(-170%, -60%);
                @include tablet{
                    @include transform(-150%, -70%);
                
            }
            }
        }

    }

    &__advantages {
        margin: 50px auto 0 auto;
        max-width: 695px;
        @include tablet{
            margin-left: auto;
        }
    }

    &__advantages-title {
        @include adaptive-font(22, 18);
        text-align: center;
        line-height: 23px;
    }

    &__advantages-list {
        margin-top: 35px;
        display: grid;
        gap: 10px 70px;
        grid-template: repeat(2, 1fr) / repeat(2, 1fr);
        max-width: 550px;
        @include small-tablet{
            grid-template-columns: 1fr;
            margin: 20px auto 0 auto;
        }
    }

    &__advantages-item {
        @extend %flex-aline-center; 
        @include tablet{
            margin-left: 20px;
        }
        @include small-tablet{
            width: 300px;
            margin: 0 auto;
        }
    }

    &__advantages-img {
        margin-right: 10px;
        filter: drop-shadow(0 2px 4px 0 #c64b32);

    }

    &__advantages-text {
        line-height: 2;
        @include adaptive-font(16, 13);
        white-space: nowrap;
    }

    &__sliders-inner {
        margin-top: 90px;
        display: flex;
        gap: 65px;
        
        @include desktop{
            margin-top: 40px;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 40px;
        }
    }

    &__main-slider {
        max-width: 500px;
        @include desktop{
            order: 2;
            margin: 0 50px 0 0;
        }
        @include mobile{
            max-width: 400px;
            height: auto;
        }
        @include medium-mobile{
            max-width: 300px;
            margin-left: 40px;
        }
    }

    &__inner-slider {
        height: 450px;
        display: flex;
        
    }
}

