.titles {
    
    &__wrapper {
        @include small-tablet {
            // max-height: 125px;
        }
        @include desktop {
            margin-top: 50px;
        }
    }

    &__slide {
        padding-top: 150px;
        display: flex;
        align-items: center;
        justify-content: center;

        @include desktop {
            padding-top: 50px;
        }

        @include mobile {
            padding-top: 20px;
        }

        @include medium-mobile {
            padding-top: 0;
        }

        &.swiper-slide-prev {
            opacity: 0.4;
        }

        &.swiper-slide-next {
            opacity: 0.4;
        }

        &:nth-child(1) {
            h2 {
                @include big-mobile {
                    max-width: 800px;
                }
            }

            span {
                @include transform(-150%, -20%);

                @include medium-mobile {
                    transform: none;
                    top: 75%;
                    left: 36%;
                }
            }
        }

        &:nth-child(2) {
            h2 {
                @include mobile {
                    max-width: 450px;
                }
            }
        }

    }

    &__number {
        font-family: 'Tenor Sans';
        @include adaptive-font(300, 80);
        @include transform(-130%, -20%);
        line-height: 1;
        color: #f4f4f4;
        position: absolute;

        @include medium-mobile {
            transform: none;
            top: 75%;
            left: 35%;
            
        }
    }

    &__item {
        position: relative;
        text-align: center;
        max-width: 836px;
        font-family: 'Tenor Sans';
        color: var(--general-text);
        @include adaptive-font(50, 23);
        text-transform: uppercase;
        z-index: 1;

        @include desktop {
            max-width: 900px;
        }

        span {
            color: var(--accent-text3);
        }
    }

    &__slider-btns {

        @include desktop {
            display: flex;
            gap: 200px;
            justify-content: center;
        }

        @include big-mobile {
            gap: 370px
        }

        @include mobile {
            gap: 300px
        }

        @include medium-mobile {
            gap: 200px
        }

        @include small-mobile {
            gap: 130px
        }

    }

    &__slider-prev {
        @extend %slider-big-arrow-btn;
        @include transform(90%, -190%, 180deg);

        @include desktop {
            transform: rotate(180deg);
        }

        svg {
            @include medium-tablet {
                padding: 5px
            }
        }
        &.swiper-button-disabled{
            @extend %slider-big-arrow-btn-disabled;
        }
    }

    &__slider-next {
        
        @extend %slider-big-arrow-btn;
        @include transform(1550%, -190%);

        @include desktop {
            transform: none;
        }

        svg {
            @include medium-tablet {
                padding: 5px;
            }
        }
        &.swiper-button-disabled{
            @extend %slider-big-arrow-btn-disabled;
        }
    }
}

.main {


    &__slider-nav {
        margin-top: 35px;
        @extend %flex-all-center;
        @include big-desktop{
        }
    }

    &__slider-prev {
        margin-right: 50px;
        cursor: pointer;

        svg {
            padding-right: 2px;
            width: 15px;
            height: 15px;
        }

        &.swiper-button-disabled {
            cursor: auto;
            path{
                fill: var(--border-color);
            }
        }

    }


    &__slider-next {
        margin-left: 50px;
        cursor: pointer;

        svg {
            padding-right: 2px;
            width: 15px;
            height: 15px;
            transform: rotate(180deg);
        }

        &.swiper-button-disabled {
            cursor: auto;
            path{
                fill: var(--border-color);
            }
        }
    }

    &__slider-prev-img {
        @extend %flex-all-center;
        text-align: center;
        background: #fff;
        width: 27px;
        height: 27px;
        border: 1px solid var(--border-color);
        border-radius: 50%;
    }

    &__slider-next-img {
        @extend %flex-all-center;
        text-align: center;
        background: #fff;
        width: 27px;
        height: 27px;
        border: 1px solid var(--border-color);
        border-radius: 50%;
    }

    &__slider-pagination {
        span {
            &:first-child {
                @include adaptive-font(45, 30);
            }

            &:last-child {
                @include adaptive-font(25, 15);

            }
        }
    }
}

.inner {

    &__slider-slide{
        @include mobile{
            img{
                width: 400px;
                height: auto;
            }
        }
    }

    &__slider-pagination {
        min-width: 30px;
        margin-right: 10px;
        margin-top: 10px;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 15px;

        span {
            flex-shrink: 0;
            cursor: pointer;
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background: var(--border-color);
            transition: all 0.1s;

            &:hover {
                background: var(--accent-text3);
            }

            &.swiper-pagination-bullet-active {
                outline: 4px solid var(--accent-text3);
                background: #fff;
            }
        }
    }

}



.slider {
    &__inner-content{
        @include desktop{
            margin: 30px auto 0 auto;
        }
        @include big-mobile{
            margin: 0;
            width: 500px;
        }
        @include mobile{
            margin-top: 20px;
        }
    }
    &__inner-title {
        @include adaptive-font(40, 23);
        line-height: 0.8;
        @include desktop{
            margin-left: 50px;
        }
        @include small-tablet{
            margin-left: 70px;
        }
        @include mobile{
            margin-left: 90px;
        }
        @include medium-mobile{
            display: flex;
            justify-content: center;
            margin-left: 0;
        }
    }

    &__inner-profession {
        position: absolute;
        opacity: 0;
        transition: var(--transition);
        margin-left: 12px;
        color: var(--accent-text);
        @include medium-mobile{
            margin-top: 30px;
        }
    }

    &__inner-profession-active {
        opacity: 1;
        display: inline-block;
    }

    &__inner-text {
        font-weight: 300;
        @include adaptive-font(16, 13);
        line-height: 1.6;
        color: #34343f;
        margin-top: 35px;
        max-width: 536px;
        @include desktop{
            text-align: center;
        }
        @include big-mobile{
            max-width: 300px;
            margin-right: auto;
            margin-left: auto;
        }
        @include medium-mobile{
            margin-top: 50px;
        }
    }

    &__inner-links {
        display: flex;
        align-items: center;
        margin-top: 30px;
        gap: 47px;
        @include mobile{
         flex-direction: column;
        }
        @include medium-mobile{
            gap: 20px;
        }
    }

    &__inner-btn {
        @include submit-btn(241px, 75px);
        @include medium-mobile{
            height: 60px;
        }
    }

    &__inner-link {
        @include adaptive-font(16, 14);
        font-weight: 700;
        text-transform: uppercase;
        transition: var(--transition);
        color: var(--accent-text3);

        &:hover {
            color: var(--accent-text);
        }
    }
}